.navbar-brand, h1 {
    font-family: 'Pusab', sans-serif;
    font-size: 1.8rem;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.imgs {
    width: 28rem;
    height: 24rem;
}

.h2 {
    font-family: 'Pusab', sans-serif;
    font-size: 1.8rem;
    animation: bounce 4s infinite alternate;
}

.h4 {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 1.2rem;
}

.size {
    font-size: 1.2rem;
}

.actives {
    color: white;
}

.flex-container {
    display: flex;
    
}

.img-0 {
    width: 2.5rem;
    animation: bounce 4s infinite alternate;
}

.img-1 {
    width: 9rem;
}

.banner-1 {
    width: 90%;
    height: 14rem;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
    40% {transform: translateY(-20px);} 
    60% {transform: translateY(-15px);} 
 } 

 .bounce-6 {
    animation: bounce-6 4s infinite alternate;
}
@keyframes bounce-6 {
    0%   { transform: scale(1,1)      translateY(0); }
    10%  { transform: scale(1.1,.9)   translateY(0); }
    30%  { transform: scale(.9,1.1)   translateY(-100px); }
    50%  { transform: scale(1.05,.95) translateY(0); }
    57%  { transform: scale(1,1)      translateY(-7px); }
    64%  { transform: scale(1,1)      translateY(0); }
    100% { transform: scale(1,1)      translateY(0); }
}

@import url('https://fonts.cdnfonts.com/css/pusab');
@import url('https://fonts.cdnfonts.com/css/be-vietnam-pro');